#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Byte compiled python modules.
*.pyc
# vim swap files
.*.sw?
.sw?
#OS X specific files.
.DS_store

# Nested build directory
/build

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
# Various tag programs
/tags
/TAGS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
.gitusers
autom4te.cache
cscope.files
cscope.out
autoconf/aclocal.m4
autoconf/autom4te.cache
/compile_commands.json

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# External projects that are tracked independently.
# Sphinx build tree, if building in-source dir.
docs/_build
# VS2017 and VSCode config files.
.vscode
.vs

#==============================================================================#
# Files created in tree by the Go bindings.
#==============================================================================#
bindings/go/llvm/llvm_config.go
bindings/go/llvm/workdir
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore, theos & Swift.gitignore


# wepy
node_modules
dist
.DB_store
package-lock.json
.wepycache


# theos
.DS_Store
/.theos/
/debs/
/obj/
/packages/
#pod
/Pods/
._*
*.deb
.debmake

# Xcode
#
dSYM/


## Build generated
build/
DerivedData/

## Various settings


*.pbxuser
!default.pbxuser

*.mode1v3
!default.mode1v3

*.mode2v3
!default.mode2v3

*.perspectivev3
!default.perspectivev3

xcuserdata/

## Other

*.xccheckout

*.moved-aside
*.xcscmblueprint

.DS_Store
*.hmap
*.ipa
*.xcuserstate
*.o

#qt

build-DirWatcher-Desktop_Qt_5_5_1_GCC_32bit-Debug/
Release/*.cpp
Release/*.o
Release/Makefile
_site
.sass-cache
.jekyll-metadata

#R.swift
*.generated.swift


#py
.idea/
